
body {
    font-family: arial, sans-serif;
}

#header-wrapper {
    text-align: center;
}

#header-line {
    display: inline-block;
    width: 100%;
    height: 35px;
    position: fixed;
    left: 5px;
    top: 2px;
    background: white;
    opacity: 100%;
    height: auto;
}
.nav-button {
    width:35px;
    height:35px;
    float:left;
    font-size: 25px;
    border:solid lightgrey;
    text-align:center;
}

.nv-right {
    margin-left:8px;
    margin-top:-2px;
}

.url-input {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: lightgrey;
    border: solid 1px lightgrey;
}
#settings-button {
    margin-left: 1px;
}
#settings-button-btn {
    border: none;
    padding: 0px;
}

#setting-dropdown {
    display: none;
    border: solid 1px darkgray;
    width: fit-content;
    text-align: left;
    padding-bottom: 5px;
}
.show {
    display: block;
}
#progress-wrapper {
    width: 100%;
    background-color: #ddd;
}

#progress-bar {
    width: 1%;
    height: 3px;
    background-color: darkblue;
}

#cover-title {
    text-align: center;
    position: relative;
    top: 20px;
}

.favorite-wrapper {
    text-align: center;
}
.favorite-container {
    display: inline-block;
}

.fav-box {
    text-align:center;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 60px;
}

.fav-box-inner {
    margin-left: 20px;
}
.fav-box figcaption {
    font-size: 10px;
}

#page-content {
    margin-left: 0px;
    margin-top: 10px;
    margin-right: auto;
}

#page-keyboard, #input-field {
    position: absolute;
    visibility: collapse;
    width: 600px;
}

#hide-keyboard-img {
    position: absolute;
    visibility: collapse;
}

#page-keyboard-img {
    visibility: collapse;
}

#page-content-img {
    width: 90%;
    margin-top: 20px;
}

.clickable-element {
    position:absolute;
    pointer-events: auto;
    background: pink;
    opacity: 20%;
}
.clickable-element:hover {
    background: lightblue;
    opacity: 20%;
    pointer-events: none;
}

#sb-text-wrapper {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sbbtext {
    color: grey;
}

.search-results-title {
    font-weight: normal;
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#products {
    display: flex;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 30px;
    overflow: scroll;
}

.product {
    float: left;
    min-width: 122px;
    border: solid 1px lightgrey;
    margin-left: 5px;
    font-family: arial,sans-serif;
    height: 240px;
}

.product:hover {
    transform: scale(1.1);
    border: solid 2px lightgrey;
}

.product-img-wrapper {
    min-height: 122px;
    max-height: 122px;
    overflow: hidden;
    background: #f0f0f0;
}

.product-img {
    width: 100%;
}

.product-blue-title {
    color: #1a0dab;
    text-overflow: ellipsis;
    height: 40px;
    overflow: auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 10px;
}

.product-price {
    font-weight: bold;
    margin-left: 10px;
    color: black;
}

.product-domain {
    margin-left: 10px;
    color: black;
}

#search-results {
    position: relative;
    top: 50px;
    width: 100%;
    min-width: 400px;
}

.plain-vanilla-search-results {
    width: 60%;
}

.result-element {
    margin-left: 30px;
    text-decoration: none;
}
.result-href {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.3;
}

.result-href cite {
    color: #5f6368;
}

.result-title {
    font-size: 20px;
}

.sb-button {
    background: lightgrey;
}

.leading-video-image {
    width: 98px;
    height: 55px;
}

.result-text {
    max-height: 50px;
    overflow: hidden;
    display: flex;
}

.result-text-inner-div {
    margin-left: 10px;
}